/* page.module.css */

.container {
 
  overflow-x: auto;
  height: 78vh;
}

.table {
  width: 80%;
  max-width: 70rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.204);
  border-radius: 10px;
  border-collapse: collapse;
  margin: auto;
}

.th {
  padding: 1rem;
  background-color: black;
  color: white;
  text-align: left;
}

.th:first-of-type {
  border-top-left-radius: 10px;
}

.th:last-of-type {
  border-top-right-radius: 10px;
}

.tr:hover {
  background-color: rgba(232, 232, 232, 0.638);
}

.td {
  padding: 1rem;
}

.btnContainer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  
 
}

.button:disabled {
  cursor: not-allowed;
  background-color: rgb(229, 229, 229);
  color: rgba(0, 0, 0, 0.269);
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .table {
    font-size: 0.8rem; 
  }

  .th,
  .td {
    padding: 0.5rem;
  }

  .btnContainer {
    flex-wrap: wrap;
   
  }

  .button {
    flex: 1 0 45%;
  }
}
